<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Callback</title>
</head>
<style>
    .center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    }
</style>
<body style="background-color:skyblue;">
{% include 'calc/navbar.html' %}
<br>
<div class="container">

<svg xmlns="http://www.w3.org/2000/svg" class="center" width="200" height="200" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>
    <h2 style="text-align:center">Payment successful!!</h2><br>
<div class="text-center">
    <a href="/"><button class="btn btn-warning">Go to Home</button></a>
</div>
</div>
</body>

</html>